h1{
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 35.38px;
}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.row{
    margin: 0px;
    width: auto;
    justify-content: center;
}
.col-md-6{
    width: 225px;
    background: #916BBF;
    margin: 20px;
    padding: 10px;
    height: 400px;
    border-radius: 15px;
}
.form-label{
    color: #ffff;
    width: 160.3281px;
    height: 22px;
    text-align: center;
    padding: 0px 30px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    border-radius: 15px;
}
input{
    border-radius: 15px;
    width: 200px;
    height: 25px;
    padding: 0px 2px;
    font-size: 12px;
}
.areatextdescripcion{
    border-radius: 15px;
    border-width: 2px;
    width: 198px;
    height: 110px;
    font-size: 12px;
}
.areaduracion{
    border-radius: 15px;
    border-width: 2px;
    width: 198px;
    height: 40px;
}
.guardaractividad{
    color:beige;
    font-size: 14px;
    background: #141313;
    height: 40px;
    padding: 15px 12px;
    border-radius: 10px;
    margin: 10;
}
#column{
    width: 447px;
    background: #916BBF;
    height: 482px;
    margin: 20px 40;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
}
.form-label-descripcion{
    color: #ffff;
    width: 169.3281px;
    height: 15px;
    text-align: center;
    margin: 10px 20px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
}
.areadescripcion{
    width: 412px;
    border-radius: 15px;
    height: 50px;
    padding: 10px;
    margin: 20px;
}
.table-responsive{
    height: 284px;
    background: var(--bs-white);
    font-size: 12px;
}
.celdatabla{
    width: 344px;
    height: fit-content;
}
.editar{
    font-size: 10px;
    background: #141313;
    height: 18px;
    padding: 0px 12px;
    border-radius: 10px;
}
.eliminar{
    font-size: 10px;
    background: #FF96AD;
    height: 18px;
    padding: 0px 12px;
    border-radius: 10px;
    border-bottom-style: none;
    border-bottom-color: var(--bs-table-bg);
}